.navbar {
  max-width: 1400px;
  min-height: 95px;
}

.navbar-brand {
  width: 240px;
  height: 37px;
  font-family: Montserrat;
  font-size: 30px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0290ff !important;
}

.navbar-light .navbar-nav .nav-link {
  font-family: Montserrat;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.9px;
  color: #121212;
  margin: 35px 40px;
}

.bg-light {
  background: #ffffff !important;
}

.user {
  width: 45px;
  height: 45px;
  border: solid 1px #e8e8e8;
  border-radius: 100%;
  position: relative;
}

.fa-user {
  position: absolute;
  top: 13px;
  left: 15px;
  color: #0290ff;
}

.Line {
  width: 1400px;
  height: 2px;
  border: solid 1px #e8e8e8;
}

.genre {
  opacity: 0.5;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
  padding: 5px;
}

.title {
  font-family: RobotoSlab;
  font-size: 22px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  color: #121212;
}

.author {
  font-family: RobotoSlab;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4386bf;
}

.actions {
  margin: 15px 0;
}

.actions a {
  font-family: RobotoSlab;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4386bf;
  padding: 5px 10px;
  text-decoration: none;
}

.actions a:first-child {
  padding-left: 0;
}

.Line-2 {
  width: 2px;
  height: 24px;
  border: solid 1px #e8e8e8;
}

.Oval-2 {
  width: 68px;
  height: 68px;
  border-radius: 50%;
  border-style: solid;
  border-width: 5px;
  background-image: linear-gradient(to bottom, #307bbe, #379cf6);
  position: relative;
  display: inline-block;
  margin: 10px;
}

.Percent-Complete {
  font-family: Montserrat;
  font-size: 32px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
  margin-bottom: 0;
}

.Completed {
  opacity: 0.5;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

.Current-Chapter {
  opacity: 0.5;
  font-family: RobotoSlab;
  font-size: 13px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

.Current-Lesson {
  font-family: RobotoSlab;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.4px;
  color: #121212;
}

.Rectangle-2 {
  width: 184px;
  height: 33px;
  border-radius: 3px;
  background-color: #0290ff;
  font-family: RobotoSlab;
  font-size: 13px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: center;
  color: #ffffff;
}

.progress-circle .left-half-clipper .first50-bar {
  background-color: #379cf6;
}

/* .progress-circle .left-half-clipper .value-bar {
  border-color: #379cf6;
} */

.progress-circle {
  font-size: 15px;
  background-color: #E8E8E8;
  float: left;
}

.col .percentage {
  margin-top: 25px;
}